
  
:root {
    --mainheading: #9aa4bf;
    --backgroundcolor: #1c1c1c;
    --hover: #ddac17;
    --white: #fff;
    --all: #9c9c9c;
    --footerbg: #1d2333;
    --login-bg: #232a3e;
    --btn-color: #5555ff;
    --text-mute: #9aa4bf;
    --footercolor: #dfdfdf;
    --blue-color-shadow: rgba(0, 106, 255, 0.2);
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
  
  @font-face {
    font-family: loginfont;
    src: url("../fonts/TTSupermolotNeue-CondRegular.ttf");
  }

  
  /* single product details */
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }


  
  .single-product .fas {
    color: #ff523b;
    margin-left: 10px;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  /* cart items */
  
  .cart-page {
    margin: 90px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  td {
    padding: 10px 5px;
  }
  

  
  td a {
    color: #ff523b;
    font-size: 12px;
  }
  
  td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
 
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  
  /* media query for less than 600 screen size */
  
  /* @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
  }
   */

   .order_bg_color{
       background-color: var(--footerbg);
       margin: 10px 0;
       
   }